@import './variaveis.scss';

.container-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $corPrimaria4;
  

  .container-navegacao{
    display: flex;
    flex-direction: row;
    width: 100%;

    ul{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 0px;
      width: 100%;

      li {
        list-style: none;
        cursor: pointer;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  

  @media screen and (min-width: $desktopBreakPoint) {
    .container-navegacao{
      display: none;
    }    
  }
}
