@import './variaveis.scss';

.container-publico{
  display: flex;
  width: 85%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.cadastro{
    .logo{
      display: none;
    }
  }

  .logo{
    margin-bottom: 30px;
    width: 40%;
  }  

  .erro {
    text-align: center;
    color: $vermelho;
    font-weight: bold;
    max-width: 30px;
  }

  form {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      width: 100%;
      margin-top: 30px;
      height: 56px;
      background-color: $corPrimaria2;
      border-color: $corPrimaria2;
      color: white;
      border-radius: 12px;
      font-size: 17px;
      cursor: pointer;
    }    

    .link {
      text-align: center;
      margin-top: 24px;

      p {
        color: $cinza3;
        margin: 0px 0px 2px;
      }

      a{
        color: $corPrimaria2;
        font-family: $fontBold;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  
  @media screen and (min-width: $desktopBreakPoint) {
    width: 100%;
    height: 100%;
    padding: 80px;
    background-color: white;
    background-image: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    
    .logo {
      min-width: 350px;
      width: 30%;
      margin: 0px;      
    }
    
    &.cadastro{
      .logo{
        display: block;
      }
      .link{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        p{
          margin-right: 10px;
        }
      }
    }

    .erro {
      max-width: none;
    }

    p {
      max-width: none;

    }

    form {
      width: 40%;
      border: 0.1em solid $corPrimaria2;
      border-radius: 32px;
      padding: 80px 40px;
      margin-left: 10%;

      button {
        height: 64px;
      }

      

    }
  }
}